@{
  ViewData["Title"] = "Informations pratiques";
}


<div class="text-center backgroundpage">
    <h1> Ou se loger ?</h1>
    <div class="text-center">
        <p> Afin de profiter pleinement du festival et en toute sécurité, nous vous proposons une liste d'hotel pouvant vous accueillir le temps du festival.</p>
    </div>
    
    <div class="card backgroundpage">
        <div class="card-body">
            <h2 class="card-title"> BRIT HOTEL Montpellier</h2>
            <div class="card-subtitle">
                <h3>Adresse: <p>Centre commercial plein sud Avenue Georges FRECHE 334470 PEROLS</p></h3>

            </div>
            <div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2890.5589366533995!2d3.94218107663275!3d43.57407285754437!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12b6a4d67312e1c7%3A0x1fe6fcc06f8d2a80!2sBrit%20Hotel%20Montpellier%20Parc%20Expo!5e0!3m2!1sfr!2sfr!4v1718029261572!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="card-footer">
                <a class="btn btnreserver" href="https://hotel-montpellier.brithotel.fr/">Réservez</a>
            </div>

        
        </div>
    </div>
    <div class="card backgroundpage">
        <div class="card-body">
            <h2 class="card-title"> IBIS STYLE Montpellier aéroport Parc expos</h2>
            <div class="card-subtitle">
                <h3>Adresse: <p>Zone aéroportuaire, 121 avenue jacqueline auriol 34130 MAUGUIO</p></h3>

            </div>
            <div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2890.2732541123846!2d3.9466994766329724!3d43.580024357159964!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12b6a5276f2a4eb9%3A0x9960789df691c625!2sibis%20budget%20Montpellier%20Aeroport%20Parc%20Des%20Expos!5e0!3m2!1sfr!2sfr!4v1718354808355!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="card-footer">
                <a class="btn btnreserver" href="https://all.accor.com/hotel/B4T2/index.fr.shtml">Réservez</a>
            </div>


        </div>
    </div>
</div>