@{
    ViewData["Title"] = "Home Page";
}
<div class="border border-5 p-5 m-0  d-flex justify-content-center billetterie">
    <a href="https://www.fnacspectacles.com/" class="billetterietexte">Billetterie</a>
</div>
<div id="carouselArtiste" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/images/artistes/3355.webp" class="d-block rounded mx-auto" alt="Muse">
        </div>
        <div class="carousel-item">
            <img src="~/images/artistes/80.jpeg" class="d-block rounded mx-auto" alt="Red hot chilli peppers">
        </div>
        <div class="carousel-item">
            <img src="~/images/artistes/a1-29742397-129742397.jpg" class="d-block rounded mx-auto" alt="The weeknd">
        </div>
        <div class="carousel-item">
            <img src="~/images/artistes/Coldplay-devoile-son-nouveau-single-Adventure-of-a-Lifetime.jpg" class="d-block rounded mx-auto" alt="Coldplay">
        </div>
        <div class="carousel-item">
            <img src="~/images/artistes/indochine_5412.jpg" class="d-block rounded mx-auto" alt="indochine">
        </div>
        <div class="carousel-item">
            <img src="~/images/artistes/Linkin-Park.jpg" class="d-block rounded mx-auto" alt="LinkinPark">
        </div>
        <div class="carousel-item">
            <img src="~/images/artistes/logo-Rolling-Stones.jpg" class="d-block rounded mx-auto" alt="The Rolling Stones">
        </div>
        <div class="carousel-item">
            <img src="~/images/artistes/lomepal.jpeg" class="d-block rounded mx-auto" alt="Lomepal">
        </div>
        <div class="carousel-item">
            <img src="~/images/artistes/maxresdefault.jpg" class="d-block rounded mx-auto" alt="Orelsan">
        </div>
        <div class="carousel-item">
            <img src="~/images/artistes/medias_2023_09_mkl2mqx-zqjlg6bprxgcxvakl7hotftk1vowlfl3gdg_65168dd6baddf.webp" class="d-block rounded mx-auto" alt="Rihanna">
        </div>
        <div class="carousel-item">
            <img src="~/images/artistes/ninho-stade-de-france-1256x826.webp" class="d-block rounded mx-auto" alt="Ninho">
        </div>
        <div class="carousel-item">
            <img src="~/images/artistes/POPCRIMESPP-copie.jpg" class="d-block rounded mx-auto" alt="Pop crime">
        </div>
        <div class="carousel-item">
            <img src="~/images/artistes/saez2023noclopesurex-800x528.png" class="d-block rounded mx-auto" alt="Saez">
        </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselArtiste" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselArtiste" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>