@{
    ViewData["Title"] = "Home Page";
}
<div class="border border-5 p-5 m-0  d-flex justify-content-center billetterie">
    <a href="https://www.fnacspectacles.com/" class="billetterietexte">Billetterie</a>
</div>
<div id="carouselArtiste" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <a href="/concert/artiste?id=15">
                <img src="~/images/artiste programmation/1.jpg" class="d-block rounded mx-auto" alt="Muse">
            </a>
        </div>
        <div class="carousel-item">
            <a href="/concert/artiste?id=15">
                <img src="~/images/artiste programmation/10.jpg" class="d-block rounded mx-auto" alt="Red hot chilli peppers">
            </a>
        </div>
        <div class="carousel-item">
            <a href="/concert/artiste?id=11">
                <img src="~/images/artiste programmation/11.jpg" class="d-block rounded mx-auto" alt="The weeknd">
            </a>
        </div>
        <div class="carousel-item">
            <a href="/concert/artiste?id=12">
                <img src="~/images/artiste programmation/12.jpg" class="d-block rounded mx-auto" alt="Coldplay">
            </a>
        </div>
        <div class="carousel-item">
            <a href="/concert/artiste?id=13">
                <img src="~/images/artiste programmation/13.jpg" class="d-block rounded mx-auto" alt="indochine">
            </a>
        </div>
        <div class="carousel-item">
            <a href="/concert/artiste?id=2">
                <img src="~/images/artiste programmation/2.jpg" class="d-block rounded mx-auto" alt="LinkinPark">
            </a>
        </div>
        <div class="carousel-item">
            <a href="/concert/artiste?id=3">
                <img src="~/images/artiste programmation/3.jpg" class="d-block rounded mx-auto" alt="The Rolling Stones">
            </a>
        </div>
        <div class="carousel-item">
            <a href="/concert/artiste?id=4">
                <img src="~/images/artiste programmation/4.jpg" class="d-block rounded mx-auto" alt="Lomepal">
            </a>
        </div>
        <div class="carousel-item">
            <a href="/concert/artiste?id=5">
                <img src="~/images/artiste programmation/5.jpg" class="d-block rounded mx-auto" alt="Orelsan">
            </a>
        </div>
        <div class="carousel-item">
            <a href="/concert/artiste?id=6">
                <img src="~/images/artiste programmation/6.jpg" class="d-block rounded mx-auto" alt="Rihanna">
            </a>
        </div>
        <div class="carousel-item">
            <a href="/concert/artiste?id=7">
                <img src="~/images/artiste programmation/7.jpg" class="d-block rounded mx-auto" alt="Ninho">
            </a>
        </div>
        <div class="carousel-item">
            <a href="/concert/artiste?id=8">
                <img src="~/images/artiste programmation/8.jpg" class="d-block rounded mx-auto" alt="Pop crime">
            </a>
        </div>
        <div class="carousel-item">
            <a href="/concert/artiste?id=9">
                <img src="~/images/artiste programmation/9.jpg" class="d-block rounded mx-auto" alt="Saez">
            </a>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselArtiste" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselArtiste" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>