@{
    ViewData["Title"] = "Informations pratiques";
}


<div class="text-center backgroundpage">
    <h1><strong>Nos points restauration</strong></h1>
    <div>
        <p> Le festival Nation Sounds vous propose divers types de restauration:</p>
        <div class="pointrestauration">
            <ul class="retraitpuce">
                <li>Les Buvettes</li>
                <li>Les Fast food</li>
                <li>Les glaciers</li>
                <li>Les patisseries et bonbons</li>
            </ul>
        </div>
       
    </div>

    <div class="d-flex">
        <div class="carremanger backgroundpage">
            <h2> Les buvettes</h2>
            <p>Venez vous rafraichir pour profiter pleinement du festival.</p>
            <p>Sur chaques stand nous vous proposons rafraichissement venant des quatre coins du monde</p>
            <ol class="fa-ul">
                <li><span class="fa-li"></span><i class="fa-solid fa-martini-glass-citrus"></i> Cocktail world</li>
                <li><span class="fa-li"></span><i class="fa-solid fa-beer-mug-empty"></i> Beer world</li>
                <li><span class="fa-li"></span><i class="fa-solid fa-beer-mug-empty"></i> Beer & co</li>
                <li><span class="fa-li"></span><i class="fa-solid fa-wine-glass"></i> Wine world</li>

            </ol>

        </div>
        <div class="carremanger backgroundpage">
            <h2>Les fast food</h2>
            <p>Venez vous ravitailler, il y en a pour tous les gouts et tous les budgets</p>
            <ol class="fa-ul">
                <li><span class="fa-li"></i></span><i class="fa-solid fa-burger"></i> Burger & Co</li>
                <li><span class="fa-li"></span><i class="fa-solid fa-pizza-slice"></i> Pizza & Co</li>
                <li><span class="fa-li"></span><i class="fa-solid fa-pizza-slice"></i> Woodpizza</li>
            </ol>

        </div>
    </div>
    <div class="d-flex">
        <div class="carremanger backgroundpage">
            <h2>Les glaciers</h2>
            <p>Les glaces un autre moyen de se rafraichir. Venez découvrir une multitude de glaces</p>
            <ol class="fa-ul">
                <li><span class="fa-li"></i></span><i class="fa-solid fa-ice-cream"></i> Les glaces à l'italienne </li>
                <li><span class="fa-li"></i></span><i class="fa-solid fa-ice-cream"></i>  Cornet & co </li>
            </ol>
        </div>
        <div class="carremanger backgroundpage">
            <h2>Les patisseries et bonbons</h2>
            <p>Venez découvrir toutes sortes de patisseries, il y en a pour tous les budgets</p>
            <ol class="fa-ul">
                <li><span class="fa-li"></span><i class="fa-solid fa-stroopwafel"></i>Gauffres & Co</li>
                <li><span class="fa-li"></span><i class="fa-solid fa-cookie"></i>Cookie & Co</li>
                <li><span class="fa-li"></span><i class="fa-solid fa-candy-cane"></i>Candy World</li>
            </ol>
        </div>
    </div>
   
    
</div>
 
  

