@{
    ViewData["Title"] = "Mentions légales";
}
<h1 class="d-flex justify-content-center mt-5"><strong>@ViewData["Title"]</strong></h1>

<p class="d-flex justify-content-center ms-5 me-5 ">Le festival nation Sounds est organisé par la société live events.</p>

<div>
    <div>
        <p class="d-flex justify-content-center ms-5 me-5">Les présentes conditions générales de vente sont systématiquement portées à la connaissance de chaque acheteur pour lui permettre de passer commande. En conséquence, le fait de passer commande, implique l’adhésion entière et sans réserve de l’acheteur à ces conditions générales de vente.</p>
    </div>
    <div>
        <h4 class="d-flex justify-content-center"><strong>1- Achats/Commande des places</strong></h4>
        <div>
            <p class="d-flex justify-content-center ms-5 me-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed faucibus turpis in eu mi bibendum neque egestas. Nulla pellentesque dignissim enim sit. Condimentum vitae sapien pellentesque habitant morbi tristique senectus et netus. Elit ut aliquam purus sit. Orci dapibus ultrices in iaculis nunc sed augue lacus. Phasellus egestas tellus rutrum tellus pellentesque eu tincidunt. Est sit amet facilisis magna etiam tempor. Felis donec et odio pellentesque. Massa enim nec dui nunc mattis.</p>
            <p class="d-flex justify-content-center ms-5 me-5">Fringilla est ullamcorper eget nulla. At risus viverra adipiscing at in tellus integer. Felis eget nunc lobortis mattis aliquam. Tristique senectus et netus et. Id donec ultrices tincidunt arcu non sodales neque sodales. Sit amet nulla facilisi morbi tempus iaculis urna. Morbi leo urna molestie at elementum eu facilisis sed. Volutpat maecenas volutpat blandit aliquam etiam erat velit scelerisque. Enim tortor at auctor urna nunc id. Viverra vitae congue eu consequat ac felis donec et odio.</p>
        </div>
       
    </div>
    <div>
        <h4 class="d-flex justify-content-center"><strong>2- Retrait des billets</strong></h4>
        <div>
            <p class="d-flex justify-content-center ms-5 me-5">Fringilla est ullamcorper eget nulla. At risus viverra adipiscing at in tellus integer. Felis eget nunc lobortis mattis aliquam. Tristique senectus et netus et. Id donec ultrices tincidunt arcu non sodales neque sodales. Sit amet nulla facilisi morbi tempus iaculis urna. Morbi leo urna molestie at elementum eu facilisis sed. Volutpat maecenas volutpat blandit aliquam etiam erat velit scelerisque. Enim tortor at auctor urna nunc id. Viverra vitae congue eu consequat ac felis donec et odio.</p>
            <p class="d-flex justify-content-center ms-5 me-5">Nunc aliquet bibendum enim facilisis gravida neque convallis a cras. Sed odio morbi quis commodo odio aenean. Non diam phasellus vestibulum lorem sed. Pulvinar etiam non quam lacus suspendisse faucibus interdum posuere lorem. Pharetra pharetra massa massa ultricies mi quis hendrerit. Sem et tortor consequat id porta nibh. Ac feugiat sed lectus vestibulum. Pharetra vel turpis nunc eget. Nam libero justo laoreet sit amet cursus. Amet consectetur adipiscing elit pellentesque.</p>
            <p class="d-flex justify-content-center ms-5 me-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed faucibus turpis in eu mi bibendum neque egestas. Nulla pellentesque dignissim enim sit. Condimentum vitae sapien pellentesque habitant morbi tristique senectus et netus. Elit ut aliquam purus sit. Orci dapibus ultrices in iaculis nunc sed augue lacus. Phasellus egestas tellus rutrum tellus pellentesque eu tincidunt. Est sit amet facilisis magna etiam tempor. Felis donec et odio pellentesque. Massa enim nec dui nunc mattis.</p>
        </div>
        
    </div>
    <div>
        <h4 class="d-flex justify-content-center"><strong>3- Modification, annulation, échange, réclamation</strong></h4>
        <div>
            <p class="d-flex justify-content-center ms-5 me-5">Velit aliquet sagittis id consectetur purus ut faucibus pulvinar elementum. Eget dolor morbi non arcu risus quis varius quam quisque. Posuere urna nec tincidunt praesent semper feugiat nibh sed. Nisl rhoncus mattis rhoncus urna neque. In hendrerit gravida rutrum quisque. Fames ac turpis egestas sed tempus urna. Natoque penatibus et magnis dis. Non tellus orci ac auctor augue mauris augue neque. Pellentesque id nibh tortor id aliquet lectus proin. Ut aliquam purus sit amet luctus. Arcu dui vivamus arcu felis. Enim facilisis gravida neque convallis a. Sed nisi lacus sed viverra tellus in. Nisl pretium fusce id velit ut tortor pretium viverra suspendisse. Condimentum vitae sapien pellentesque habitant morbi tristique senectus et netus. Dolor magna eget est lorem ipsum dolor sit amet. Sed felis eget velit aliquet.</p>
            <p class="d-flex justify-content-center ms-5 me-5">Et malesuada fames ac turpis egestas. Sapien nec sagittis aliquam malesuada bibendum arcu vitae elementum. Et netus et malesuada fames ac turpis egestas. Aliquet nec ullamcorper sit amet risus nullam. Placerat duis ultricies lacus sed turpis tincidunt. Magna ac placerat vestibulum lectus mauris. Amet tellus cras adipiscing enim eu turpis egestas pretium. Dui vivamus arcu felis bibendum. Eu mi bibendum neque egestas congue quisque egestas. Tortor at auctor urna nunc. Erat velit scelerisque in dictum non consectetur. Amet dictum sit amet justo. Mauris augue neque gravida in fermentum. Lorem donec massa sapien faucibus et molestie ac. Tincidunt vitae semper quis lectus nulla at. Venenatis cras sed felis eget velit aliquet sagittis. Mauris augue neque gravida in fermentum.</p>
        </div>
     </div>
        
    <div>
        <h4 class="d-flex justify-content-center"><strong>4-Confidentialité</strong></h4>
        <div> 
            <p class="d-flex justify-content-center ms-5 me-5">Et malesuada fames ac turpis egestas. Sapien nec sagittis aliquam malesuada bibendum arcu vitae elementum. Et netus et malesuada fames ac turpis egestas. Aliquet nec ullamcorper sit amet risus nullam. Placerat duis ultricies lacus sed turpis tincidunt. Magna ac placerat vestibulum lectus mauris. Amet tellus cras adipiscing enim eu turpis egestas pretium. Dui vivamus arcu felis bibendum. Eu mi bibendum neque egestas congue quisque egestas. Tortor at auctor urna nunc. Erat velit scelerisque in dictum non consectetur. Amet dictum sit amet justo. Mauris augue neque gravida in fermentum. Lorem donec massa sapien faucibus et molestie ac. Tincidunt vitae semper quis lectus nulla at. Venenatis cras sed felis eget velit aliquet sagittis. Mauris augue neque gravida in fermentum.</p>
        </div>
    </div>
    <div >
        <h4 class="d-flex justify-content-center"><strong>5-Droits applicables aux litiges</strong></h4>
        <div>
            <p class="d-flex justify-content-center ms-5 me-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed faucibus turpis in eu mi bibendum neque egestas. Nulla pellentesque dignissim enim sit. Condimentum vitae sapien pellentesque habitant morbi tristique senectus et netus. Elit ut aliquam purus sit. Orci dapibus ultrices in iaculis nunc sed augue lacus. Phasellus egestas tellus rutrum tellus pellentesque eu tincidunt. Est sit amet facilisis magna etiam tempor. Felis donec et odio pellentesque. Massa enim nec dui nunc mattis.</p>
        </div>
        
    </div>
    <div>
        <h4 class="d-flex justify-content-center"><strong>6- Droits d'auteur</strong></h4>
        <div>
            <p class="d-flex justify-content-center ms-5 me-5">Velit aliquet sagittis id consectetur purus ut faucibus pulvinar elementum. Eget dolor morbi non arcu risus quis varius quam quisque. Posuere urna nec tincidunt praesent semper feugiat nibh sed. Nisl rhoncus mattis rhoncus urna neque. In hendrerit gravida rutrum quisque. Fames ac turpis egestas sed tempus urna. Natoque penatibus et magnis dis. Non tellus orci ac auctor augue mauris augue neque. Pellentesque id nibh tortor id aliquet lectus proin. Ut aliquam purus sit amet luctus. Arcu dui vivamus arcu felis. Enim facilisis gravida neque convallis a. Sed nisi lacus sed viverra tellus in. Nisl pretium fusce id velit ut tortor pretium viverra suspendisse. Condimentum vitae sapien pellentesque habitant morbi tristique senectus et netus. Dolor magna eget est lorem ipsum dolor sit amet. Sed felis eget velit aliquet.</p>
        </div>
       
    </div>
</div>
