
@{
    ViewData["Title"] = "Informations pratiques";
}

<div>
    <h1>Comment venir au festival</h1>
    
</div>
<div>
    <p>Pour venir au festival il existe plusieurs manière de se rendre au festival</p>
    <ul>
        <li>En voiture</li>
        <li> En transport en commun</li>
        <li>En avion</li>
    </ul>
</div>
<div>
    <h2 id="voiture"> En voiture</h2>
    <p> Il existe deux possibilités :</p>
    <ul>
        <li>Via l'autoroute'</li>
        <li> via du covoiturage</li>
    </ul>
    <div>
        <h3>Via l'autoroute</h3>
        <p>Sur l’A709, prenez la sortie n°29 Montpellier-Est, puis direction Carnon sur la D66</p>
    </div>
    <div>
        <h3>Via le covoiturage</h3>
    </div>
   
</div>